<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>WFVIW!?</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <style type="text/css">
      .page-header {
        border-bottom: none;
        text-align: center;
      }

      .container {
        width: 750px;
      }

      table td a.delete {
       visibility: hidden;
      }

      table tr:hover a.delete {
        visibility: visible;
      }

     .sorting {
       display: inline-block;
       margin-left: 5px;
     }

     .sorting a {
       display: block;
       font-size: .8rem;
       line-height: 1em;
       text-align: center;
       font-weight: normal;
     }

     .sorted.asc .asc, .sorted.desc .desc {
       font-weight: bold;
     }

     .input-group {
       margin-bottom: 5px;
     }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1><abbr title="What Fucking Version is Where!?">WFVIW!?</abbr></h1>
        <% if @environments.any? %>
          <form action="/">
            <select name="env">
              <option value="">All Environments</option>
              <% @environments.each do |env| %>
                <option value="<%= env.id %>" <%= "selected" if params["env"].to_i == env.id %>><%= env.name %></option>
              <% end %>
            </select>
          </form>
        <% end %>
      </div>

      <div class='row'>
        <form action="/deploy" method="post">
          <input type="hidden" name="redirect" />
          <div class="col-sm-12">
            <div class="error-messages">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group required">
              <span class="input-group-addon">Name</span>
              <input class="form-control" type="text" name="name" />
            </div>
            <div class="input-group required">
              <span class="input-group-addon">Version</span>
              <input class="form-control" type="text" name="version" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Environment</span>
              <input class="form-control" type="text" name="environment" />
            </div>
          </div>

          <div class="col-sm-6">
            <div class="input-group required">
              <span class="input-group-addon">Deployed at</span>
              <input class="form-control" type="date" name="deployed_at" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Deployed by</span>
              <input class="form-control" type="text" name="deployed_by" />
            </div>
            <div class="input-group">
              <span class="input-group-addon">Hostname</span>
              <input class="form-control" type="text" name="hostname" />
            </div>
          </div>

          <div class="col-sm-12 text-center">
            <span class="input-group-btn">
              <button class="btn btn-default new-deploy" type='button'>Submit Deployment</button>
            </span>
          </div>
        </form>
      </div>

      <% if @deploys.none? %>
        <p class="text-center">Nothing has been deployed &mdash;<strong>get to work</strong>!</p>
      <% else %>
        <table class="table table-hover deployments">
          <thead>
            <tr>
              <%= sorting_column(:name, "Name", params) %>
              <th>Version</th>
              <th>Environment</th>
              <%= sorting_column(:deployed_at, "Deployed", params) %>
            </tr>
          </thead>
          <tbody>
            <% @deploys.each do |deploy| %>
              <tr class="deployment">
                <td><%= h deploy.name %></td>
                <td><%= h deploy.version %></td>
                <td><%= h deploy.environment.name %></td>
                <td>
                  <%= h deploy.deployed_at.strftime("%F %R") %>
                  <a class="delete pull-right small" href="/deploy/<%= deploy.id %>/delete" class="small pull-right">Delete</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <nav>
          <ul class="pagination">
            <%= pagination(params) %>
          </ul>
        </nav>
      <% end %>
    </div>
    <script src="js/zepto.min.js"></script>
    <script>
      $().ready(function() {
        $('select[name=env]').on('change', function() {
          $(this).parent('form').submit();
        });

        $('.deployment a.delete').on('click', function(e) {
           e.preventDefault();
           var $a = $(this);
           $.post($a.attr('href'), function() {
             // TODO: Errors
             $a.closest('.deployment').remove();
           });
         });

        $('.new-deploy').on('click', function(e) {
          e.preventDefault();
          var $form = $(this).closest('form');

          var $errors = false;
          $.each($form.find('.required input'), function(i, el) {
            if (el.value == '') {
              $(el).closest('.input-group').addClass('has-error')
              $errors = true;
            }
          });

          if ($errors) {
            $('.error-messages').
              addClass('alert alert-danger').
              html('Fields marked in red are required');
          } else {
            $form.submit();
          }
        });
      })
    </script>
  </body>
</html>
